* {
  margin: 0;
}
.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;

  background-image: url("../../assets/image/orig.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  background-color: #2e2e2e75;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 6, 6, 0);
  width: max-content;
  border-radius: 10px;

  img {
    width: 70px;

    height: 70px;
  }
}
.links {
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 30px;

  list-style: none;

  gap: 30px;
}

.people {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-items: right;
  justify-content: space-between;
  padding: 1px;
  gap: 2px;
  width: 20px;
  height: 25px;
}
.li {
  padding: 4px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(29, 0, 77, 0.253);
  border-radius: 10px;
  a {
    color: rgb(8, 8, 8);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  justify-items: center;
  gap: 20px;

  h1 {
    font-size: 60px;
    text-align: center;
  }
  p {
    font-size: 18px;
  }
  button {
    font-size: 18px;

    text-decoration: none;
    padding: 8px 16px;
    border: none;
    border-radius: 24px;
  }
}

.social-container {
  padding: 30px;
  position: relative;
  display: inline-block;
}

.social-toggle {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.main-icon {
  width: 40px;
  height: 40px;
  background-color: #555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.main.icons:hover {
  transform: scale(1.1);
}

.main-icons::before {
  content: "+";
  color: white;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s;
}

.social-toggle:checked + .main-icons::before {
  content: "x";
  font-size: 24px;
}

.social-icons {
  position: absolute;
  height: 100%;
  bottom: 60px;
  left: 40px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

.social-toggle:checked ~ .social-icons {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.social-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s;
}

.social-icon::hover {
  transform: scale(1.2);
}
.catalog {
  background-image: url("../../assets/image/dd1a5.png");
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.705);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.catalog-text {
  display: flex;
  align-items: center;
  gap: 20px;

  h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0px;
    transform: scaleY(1.1);
    margin-top: 10px;
    margin-left: 80px;
    font-size: 50px;
    color: rgba(0, 255, 191, 0.527);
    text-align: left;
  }
  p {
    color: aliceblue;
    margin-top: 5px;
    font-size: 13px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    justify-items: center;
  }
}
.your-class {
  figure {
    margin: 10px;
    width: 150px;
    height: 400px;
    transition: transform 0.3s ease;

    img {
      width: 80%;
      height: 90%;
      object-fit: cover;
      border-radius: 40px;
      transition: transform 0.3s ease;
    }
  }
}
.youre-class:hover {
  transform: translateY(50px);
}
.about {
  background-image: url(../../assets/image/5f8bfcb29a251d4_upscaled.jpg);
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.671);
   padding: 30px 60px;
   gap: 40px;
   display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-title {
  display: flex;
   h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0px;
    transform: scaleY(1.1);
    margin-top: 10px;
    margin-left: 55px;
    font-size: 50px;
    color: rgba(0, 255, 191, 0.61);
    text-align: left;
   }
}

.about-text {
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: max-content;
  height: max-content;
  margin: 50px;
  
  padding: auto;
}
.kart{
display: flex;
flex-direction: row;
justify-content: flex-end;
 margin: 10px;
 width: 20px;
 height: 20px;
 margin: 20px auto;


 justify-content: flex-end;
}
.images{
  display:flex;
  justify-content: flex-end;
  }
.images1 {
  
}
.gallery {
  display: flex;
  background-color: rgba(48, 48, 48, 0.795);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  
}
    h1{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0px;
    transform: scaleY(1.1);
    margin-top: 10px;
    margin-left: 55px;
    font-size: 50px;
    color: rgba(0, 255, 191, 0.61);
    text-align: left;
}

.gallery-text{
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
  list-style: none;
}
.headCatImg {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  background-color: #2e2e2e75;
}

.cat-img{
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 30px;

  list-style: none;

  gap: 30px;
  
}

.li1 {
  padding: 4px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(29, 0, 77, 0.253);
  border-radius: 10px;
  a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
  }
}
.gallery-img {
  position: relative;
  width: 10%;
  height: 10px;
}
.image {
  position: absolute;
  top: 0;
  right: 0;
}